html, body, .container, #contig_us_map_canvas.col-md-6 {
    height: 100%;
}

.col-md-6 {
    height:100%;
}

.range {
   width: 40px;
   height: 100%;
   margin: 0 5px ;
   display:inline-block;
}

input.range {
    height: 28px;
}

.input-large {
	width:250px;
}

a {
    color: white;
}

#map_row {
    height: 90%;
}

#left_col {
    background: #AB87FA;
    height: 100%;
}

#left_side_bar {
    line-height: 200%;
}

#right_col {
    height:100%;
    background: #AB87FA;
}

#top_schools {
    height: 65%;
    line-height: 100%;
}

#contig_us_map_canvas {
    height: 100%;
}

#info_box {
    height: 35%;
}

#search_term {
    height: 28px;
	size: 40 !important;
}
