html, body, .container, #contig_us_map_canvas.col-md-6 {
    height: 100%;
}

body {
    background: #DCDCFC;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: #DB53DB;
}

.col-md-6 {
    height:100%;
}

.range {
   width: 40px;
   height: 100%;
   margin: 0 5px ;
   display:inline-block;
}

input.range {
    height: 28px;
}

.input-large {
    width:240px;
}

#left_side_bar, #right_col, #contig_us_map_canvas {
    border: 2px solid;
}

h2 {
    margin-left: 15px;
}

h3 {
    color: #170660;
    margin-left: 10px;
}

#map_row {
    height: 90%;
}

#left_col {
    height: 100%;
}

#left_side_bar {
    line-height: 200%;
    height: 100%;
}

#map_col {
    margin-left: 0;
    padding-left: 0;
}

#right_col {
    height:100%;
}

#top_schools {
    height: 65%;
    line-height: 100%;
    overflow: auto;
}

#contig_us_map_canvas {
    height: 100%;
    left-padding: 0;
}

#info_box {
    line-height:100%;
}

#filterDescription {
    line-height: 100%;
    font-size: 10pt;
    margin-left: 10px;
}

#errormessage {
    color: red;
}

#search_term {
    height: 28px;
    margin-left:10px;
}

#search_type {
    margin-left: 10px;
}

#search_years {
    margin-left: 10px;
}

#filter_table {
    margin-left: 10px;
}

#lookupButton {
    margin-left: 10px;
}

#lower_filters {
    margin-left: 10px;
}

#filter_header {
    display: inline-block;
    width: 80%
}

#filter_help {
    font-size: 10pt;
}
