html {
	height: 100%
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	clear: both;
	font-family: "Bryant", "Gill Sans", sans-serif;
}
h1 {
	text-align: left;
	font-size: 12pt;
	text-decoration: none;
	font-weight: normal;
	margin-bottom: 0.1em;
}
a {
	color: #7592D3;
	text-decoration: none;
}
p {
	margin-top: 0.1em;
	font-size: 10pt;
}
svg {
	background-color: #FFC;
}
select {
	width: 100px;
}
.filterPanel {
	width: 150px;
	height: 50px;
	margin: 1px;
	float: left;
}
.stacked {
	padding: 2px;
}
.side_by_side {
	display: inline-block;
	vertical-align: top;
}
#right_menu_bar {
	width: 280px;
	height: 600px;
	background: #d6dee9
}
#contig_us_map_canvas {
	width: 500px;
	height: 450px;
}
#wrap {
	height: 100%;
	width: 1200px;
	margin: 0 auto
}
#top {
	margin-top: 20px;
	width: 800px;
	height: 20px;
}
#contig_us_map_canvas {
	width: 500px;
	height: 450px;
}
#top_schools{
   width: 280px;
	height: 600px;
	background: #d6dee9
}
#display_box{
   width: 500px;
   height: 145px;
   background: #d6dee9;
   margin-top: 5px;

}

#panels {
	margin-top: 10px;
}

#SAT_group{
   margin-left: 15px;
}

